doctype html
html(lang="en")
  head
    title=pageTitle
    link(rel="stylesheet", href="/styles/main.css")
  body
    noscript This page requires javascript to run properly
    .header
    block content
    script(type='text/javascript', src='/js/app.js')
    
